[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ply = "*"
networkx = "*"
future = "*"
matplotlib = "*"
pytest = "*"
scipy = "*"
tqdm = "*"
h5py = "*"
pint = "*"
pdoc = "*"
numpy = "==1.23.5"
py-pde = "==0.32.1"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.11"
